<%- include('partials/header'); -%>
<div class="dashboard_container">
  <%- include('partials/messages'); -%>
  <%= typeof msg != 'undefined' ? msg : ''  %>
  <% if(typeof user != 'undefined') { %>
    <% var user = user %>
    <h1 class="dashboard_title">Hello <%= user.name %>, Welcome to your dashboard </h1>
    <script>
      let user = "<%- user.role %>";
      localStorage.setItem("role", JSON.stringify({'user': user}))
    </script>
  <% } %>

  <% if(typeof token != 'undefined') { %>
    <% var token = token %>
    <script>
      let token = "<%- token %>";
      localStorage.setItem("token", token)
    </script>
  <% } %>
  <button onclick="logout()">Logout</button>  
</div>
<%- include('partials/footer'); -%>