<%- include('partials/header'); -%>

<div class="detail_card">
    <% if(typeof product != 'undefined') { %>
        <div class="detail_content">
            <div class="image">
                <img src="<%= product.imageUrl %>" alt="Detail Banner">
                <div class="detail_title"><%= product.title.toUpperCase() %></div>
                <div class="detail_price">#<%= product.price %></div>
            </div>
            <div class="detail_item">
                <p><%= product.description %></p>
                <div class="quantity">
                    <label for="">Quantity</label>
                    <input type="number" value="1"/>
                </div>
                <div>
                        <form method="GET" action="/api/product/update/<%= product._id %>">
                            <button class="update_btn">Update</button>
                        </form>
                        <form method="POST" action="/api/product/<%= product._id %>?_method=DELETE">
                            <button class="delete_btn">Delete</button>
                        </form>
                </div>
            </div>
        </div>
        <button class="order_btn">ORDER NOW</button>
    <% } %>
</div>

<%- include('partials/footer'); -%>