<%- include('partials/header'); -%>

<div class="wrapper">
    <div><%= typeof msg != 'undefined' ? msg : ''  %></div>
    <h1>Gallery Page</h1>
    <img src="<%= typeof files != 'undefined' ? files : ''  %>" alt="Uploaded">

    <hr>
        <% if(files){ %>
          <% files.forEach(function(file) { %>
            <div class="card card-body mb-3">
              <% if(file.isImage) { %>
                <img src="image/<%= file.filename %>" alt="">
                <% } else { %>
                  <%= file.filename %>
                    <% } %>
                      <form method="POST" action="/files/<%= file._id %>?_method=DELETE">
                        <button class="btn btn-danger btn-block mt-4">Delete</button>
                      </form>
            </div>
            <% }) %>
              <% } else { %>
                <p>No images to show</p>
                <% } %>

</div>

<%- include('partials/footer'); -%>