  <%- include('partials/header'); -%>
    <div class="gallery_container">
      <div class="select">
        <select name="category" id="select">
          <option value="">Select by category</option>
          <option value="">Fabrics</option>
          <option value="">Shoes</option>
          <option value="">Bags</option>
          <option value="">Ornaments</option>
        </select>
      </div>
        <div class="gallery_info"><%= typeof msg != 'undefined' ? msg : ''  %></div>
        <%- include("partials/messages"); -%>   
        <div class="gallery_contents">
          <% if(typeof products != 'undefined'){ %> 
            <% products.forEach(function(product) { %>
          <div class="gallery_items">
              <img src="<%= product.imageUrl %>" alt="<%= product.title %>" />
              <div class="title"><%= product.title.toUpperCase() %></div>
              <div class="price">#<%= product.price %></div>
              <p class="item_order"><a href="/api/product/<%= product.id  %>">Click to order</a></p>
          </div>
          <% }) %> 
          <% } else if(typeof filteredProducts != 'undefined'){ %>
            <% filteredProducts.forEach(function(filteredProduct) { %>
              <div class="gallery_items">
                  <img src="<%= filteredProduct.imageUrl %>" alt="<%= filteredProduct.title %>" />
                  <div class="title"><%= filteredProduct.title.toUpperCase() %></div>
                  <div class="price">#<%= filteredProduct.price %></div>
                  <p class="item_order"><a href="/api/product/<%= filteredProduct.id  %>">Click to order</a></p>
              </div>
            <% }) %> 
            <% } else { %>
            <p>No files to show</p>
          <% } %>
        </div>
    </div>

    <%- include('partials/footer'); -%>