<%- include('partials/header'); -%>
<div class="login_container">

    <div class="login_card">
        
        <form action="/api/auth/login" method="POST">  
            <div class="avatar">
                <img src="/assets/login.png" alt="Login Avatar">
            </div>
            <h1>Login Page</h1>
            <%- include('partials/messages'); -%>
            <div class="alert_success"><%= typeof msg != 'undefined' ? msg : '' %></div>
            <div class="email">
                <label for="email">Email<span class="red_info"> *</span></label>
                <input type="email" id="email" name="email" required
                value="<%= typeof email != 'undefined' ? email : '' %>"
                >
            </div>
            <div class="password">
                <label for="password">Password<span class="red_info"> *</span></label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="log-btn">Submit</button>
        </form>
        <div class="info-login">New user? Register <a href="/api/auth/register">here</a></div>
    </div>
</div>
<%- include('partials/footer'); -%>